.header-main {
  display: flex;
  padding-top: 120px;
  height: 520px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  background-image: url(../images/asfalt-light.png);
}

.double-down-arrow > i {
  color: red;
}

@media only screen and (min-width: 1024px) {
  .header-main {
    width: 50%;
    max-width: 500px;
    height: 500px;
    margin-top: 160px;
  }
}